.cart-order-products-container {
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}
.header-cart {
    max-height: 30rem;
    width: 40rem;
}
.actions-container {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-bottom: 1rem;
}
.date {
    text-align: center;
    padding: 0rem 1rem 1rem 1rem;
}
.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
}
.spinner { padding: 8px; font-weight: 600; }