<div class="cart-order-products-container" [ngClass]="parentClass" *ngIf="order">
  <app-order-products [products]="order.products" [active]="order.status == 'active'"></app-order-products> <br>
  <div class="date">Fecha del Pedido: {{ order.date | date:'medium' }}</div>
  <div *ngIf="order.status == 'active'" class="actions-container">
    <button nbButton status="danger" (click)="closeOrder(order.id)">Cancelar</button>
    <button nbButton status="primary" (click)="payOrder(order.id)">Ir a Pagar</button>
  </div>
</div>
<div *ngIf="!order" class="empty-cart-container">
  <nb-icon icon="shopping-cart-outline" status="basic" style="font-size: 2rem;"></nb-icon>
  <div>El carrito está vacío.</div>
</div>