.product-details-card {
  max-width: 85rem;
}

.product-image-details-container {
  display: grid;
  gap: 2rem;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.add-to-cart-btn {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .product-image-details-container {
    grid-template-columns: min(50%, 30rem) 1fr;
    grid-template-rows: 30rem;
  }
  .product-details-card {
    margin: 0 max(2rem, 5vw);
  }
}

@media screen and (max-width: 600px) {
  .product-image-details-container {
    grid-template-rows: 30rem;
  }
}

.product-details-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .name {
    flex: 0 1 fit-content;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
  }
  .description {
    flex: 1 1 auto;
    font-size: 1rem;
    font-weight: 300;
    overflow-y: auto;
  }
  .price-and-amount {
    flex: 0 1 fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .add-to-cart-button-and-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
}

.category-container {
  grid-column: 1 / -1;
  overflow-x: hidden;
  display: grid;
  gap: 1rem;
  h2 {
    grid-row: 1 / 2;
    margin: 0;
  }
  .related-products-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 13rem;
    gap: 1rem;
    scrollbar-width: thin;
    grid-row: 2 / 3;
    overflow-x: auto;
    padding: 1rem;
    app-product-item {
      height: 100%;
    }
    .product-item {
      max-width: 100%;
    }
  }
}

.no-padding-layout,
.no-padding-column {
  padding: 0 !important;
}

.center-column {
  max-width: 85rem;
  margin: auto;
}

.nb-theme-default nb-layout .scrollable-container {
  padding: 0 !important;
}

nb-card {
  margin: 0 !important;
}
