.left, .center, .right {
  display: flex;
  align-items: center;
}
.left {
  gap: 0.75rem;
  min-width: 8rem;
}
.center {
  flex: 1;
  justify-content: center;
}
.right {
  gap: 0.5rem;
}
.logo { 
  height: 50px; 
}
.title{ 
  font-weight: 600; 
  font-size: 1.25rem;
}

nb-menu {
  width: 13rem;
}

::ng-deep .search nb-icon {
  height: 30px !important;
  width: 30px !important;
}

nb-action {
  a {
    color: inherit;
    text-decoration: none;
  }
}

@media (max-width: 800px) {
  .center { display: none; }
}
