<div class="carousel-container">
  <div class="carousel-wrapper">
    <div class="carousel-track" [ngClass]="{'transition': hasTransition}" [style.transform]="transformStyle">
      <div class="carousel-item" *ngFor="let product of products">
        <img class="product-image" src="{{ product.image_url }}" alt="">
        <div class="product-container">
            <div class="product-name">
                {{ product.name }}
            </div>
            <div class="product-description">
                {{ product.description }}
            </div>
            <div class="product-price">
              {{ product.price | currency }}
            </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="prevSlide()" class="carousel-btn prev" aria-label="Producto anterior"><span>❮</span></button>
  <button (click)="nextSlide()" class="carousel-btn next" aria-label="Producto siguiente"><span>❯</span></button>
</div>