.product-card {
    color: inherit;
    text-decoration: none;
    display: block;
}

.product-card:hover {
    color: var(--secondary-color);
    transform: scale(1.02);
}

.product-img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.product-info {
    margin: 15px;
}

.product-name {
    font-size: 16px;
    font-weight: 400;
}

.product-details-container {
    display: flex;
    justify-content: space-between;
}

.product-price {
    font-size: 18px;
    font-weight: 200;
}

.product-stars {
    font-size: 18px;
    font-weight: 200;
}

@media screen and (max-width: 600px) {
    .product-stars {
        display: none;
    }
}