.product-card {
    color: inherit;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.product-card:hover {
    color: var(--secondary-color);
    transform: scale(1.02);
}

.product-img {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.product-info {
    margin: 15px;
}

.product-name {
    font-size: 20px;
    font-weight: 500;
    color: #2c3e50;
}

.product-details-container {
    display: flex;
    justify-content: flex-end;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .product-stars {
        display: none;
    }
}