.product-list-container {
	display: grid;
	gap: 1rem;
	align-items: center;
	justify-items: center;
}

@media screen and (min-width: 600px) {
  .product-list-container {
    grid-template-columns: 6rem 4fr 1fr 2fr;
    grid-template-rows: 1fr;
  }
	.product-image {
		width: 5rem;
		height: 5rem;   
		justify-self: start;
	}
  .product-info-container {
    justify-self: start;
	}
}

@media screen and (max-width: 600px) {
  .product-list-container {
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 2rem 3rem 2rem;
		justify-items: start;
  }
	.product-image {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		width: 100%;
    height: 100%;
	}
	.product-info-container {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}
	.product-quantity {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		justify-self: start;
	}
	.product-total-price {
		grid-column: 2 / 3;
		grid-row: 3 / 4;
		justify-self: end;
	}
}

.product-item-container {
	display: contents;
	font-size: 16px;
	font-weight: 600;
}
.product-info-container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	align-items: flex-start;
	justify-items: center;
}
.product-title {
	font-size: 18px;
}
.product-price {
	color: var(--secondary-color);
}
.product-total-price {
	display: flex;
	align-items: center;
	gap: 1rem;
	justify-self: end;
	font-size: 18px;
	color: var(--secondary-color);
}
.product-image {
	cursor: pointer;
	object-fit: cover;
	aspect-ratio: 1 / 1;
}