.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.categories-container {
  display: flex;
  flex-direction: column;
}
.categoty-products-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 13rem;
  gap: 1rem;
  scrollbar-width: thin;
  grid-row: 2 / 3;
  overflow-x: auto;
  padding: 1rem;
  app-product-item {
    height: 100%;
  }
  .product-item {
    max-width: 100%;
  }
}
.home-main-container {
  max-width: 85rem;
  margin: 0 auto;

}
