nb-accordion-item-header {
    justify-content: space-between;
    padding-right: 45px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    .header-title {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .header-images-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .header-image {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        display: none;
    }
    .header-image:nth-child(-n + 5) {
        display: block;
    }
}

.active {
    background-color: var(--secondary-color);
    color: var(--secondary-color-text);
}

.closed {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

nb-accordion-item-body {
    padding: 0 1rem !important;
}