app-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 70px;
}

::ng-deep nb-layout-header {
  background-color: rgba(255, 255, 255, 1) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

