<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <!--Agrego esto-->
    <nb-card *ngIf="news">
      <nb-card-header>
        <h2>{{ product.name }}</h2>
      </nb-card-header>
      <nb-card-body>
        <nb-accordion multi>
          <nb-accordion-item expanded="true">
            <nb-accordion-item-header>Prueba de noticia</nb-accordion-item-header>
            <nb-accordion-item-body>
              {{ product.description }}
            </nb-accordion-item-body>
          </nb-accordion-item>
          <!-- Agrega más secciones si es necesario -->
        </nb-accordion>
      </nb-card-body>
    </nb-card>
</div>
</body>
</html>

