:root {
  --background-color: #ffffff;
  --text-color: #1f1f1f;
  --banner-color: #eec8b0;
  --primary-color: #256144;
  --primary-color-text: #ffffff;
  --secondary-color: #4f9c77;
  --secondary-color-text: #ffffff;
  --terciary-color: #af4c0f;
}

app-root {
  font-family: 'PlusJakartaSans', sans-serif;
  font-weight: 400;
  display: block;
  background: var(--background-color);
}