<div class="carousel-container">
  <h2 class="carousel-title">Productos Recomendados</h2>
  <div class="carousel-wrapper">
    <div class="carousel-track" [ngClass]="{'transition': hasTransition}" [style.transform]="transformStyle">
      <div class="carousel-item" *ngFor="let producto of displayedProductos">
        <div class="product-card">
          <img [src]="producto.image_url" alt="{{ producto.name }}" class="product-image">
          <div class="product-info">
            <h3 class="product-name">{{ producto.name }}</h3>
            <p class="product-description">{{ producto.description }}</p>
            <div class="product-price">${{ producto.price }}</div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="prevSlide()" class="carousel-btn prev" aria-label="Producto anterior"><span>❮</span></button>
  <button (click)="nextSlide()" class="carousel-btn next" aria-label="Producto siguiente"><span>❯</span></button>
</div>